## Web Scraping Assignment-2

In [1]:
!pip install selenium

Requirement already satisfied: selenium in d:\jupyter\lib\site-packages (4.9.0)
Requirement already satisfied: urllib3[socks]~=1.26 in d:\jupyter\lib\site-packages (from selenium) (1.26.9)
Requirement already satisfied: trio~=0.17 in d:\jupyter\lib\site-packages (from selenium) (0.22.0)
Requirement already satisfied: certifi>=2021.10.8 in d:\jupyter\lib\site-packages (from selenium) (2021.10.8)
Requirement already satisfied: trio-websocket~=0.9 in d:\jupyter\lib\site-packages (from selenium) (0.10.2)
Requirement already satisfied: cffi>=1.14 in d:\jupyter\lib\site-packages (from trio~=0.17->selenium) (1.15.0)
Requirement already satisfied: async-generator>=1.9 in d:\jupyter\lib\site-packages (from trio~=0.17->selenium) (1.10)
Requirement already satisfied: idna in d:\jupyter\lib\site-packages (from trio~=0.17->selenium) (3.3)
Requirement already satisfied: sniffio in d:\jupyter\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: outcome in d:\jupyter\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: attrs>=19.2.0 in d:\jupyter\lib\site-packages (from trio~=0.17->selenium) (21.4.0)
Requirement already satisfied: exceptiongroup>=1.0.0rc9 in d:\jupyter\lib\site-packages (from trio~=0.17->selenium) (1.1.1)
Requirement already satisfied: sortedcontainers in d:\jupyter\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: pycparser in d:\jupyter\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.21)
Requirement already satisfied: wsproto>=0.14 in d:\jupyter\lib\site-packages (from trio-websocket~=0.9->selenium) (1.2.0)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in d:\jupyter\lib\site-packages (from urllib3[socks]~=1.26->selenium) (1.7.1)
Requirement already satisfied: h11<1,>=0.9.0 in d:\jupyter\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.14.0)

In [2]:
#import necessary libraries
import selenium
import pandas as pd
from selenium import webdriver
from selenium.webdriver.common.by import By
from selenium.common.exceptions import StaleElementReferenceException ,NoSuchElementException
import time 
import warnings
warnings.filterwarnings('ignore')

## Q1: Write a python program to scrape data for “Data Analyst” Job position in “Bangalore” location. You have to scrape the job-title, job-location, company_name, experience_required. You have to scrape first 10 jobs data. This task will be done in following steps:
- 1. First get the webpage https://www.naukri.com/
- 2. Enter “Data Analyst” in “Skill, Designations, Companies” field and enter “Bangalore” in “enter the location” field.
- 3. Then click the searchbutton.
- 4. Then scrape the data for the first 10 jobs results you get.
- 5. Finally create a dataframe of the scraped data.

In [3]:
#lets first connect to the driver
driver = webdriver.Chrome(r"D:\CHROME DOWNLODE\chromedriver\chromedriver.exe")

In [4]:
# opening the naukri.com page on automated chrome browser
driver.get('https://www.naukri.com/')

In [5]:
# entering the designation as required in the question
designation = driver.find_element(By.CLASS_NAME,"suggestor-input ")
designation.send_keys("Data Analyst")

In [6]:
# entering the  location as required in the question
location = driver.find_element(By.XPATH,'/html/body/div[1]/div[7]/div/div/div[5]/div/div/div/div[1]/div/input')
location.send_keys("Bangalore")

In [7]:
# clicking on search button to search the required data 
search = driver.find_element(By.CLASS_NAME,'qsbSubmit')
search.click()

In [8]:
# create empty lists to store the scraped data
job_titles = []
company_name = []
job_location = []
experience_required = []

# scrape job titles of first 10 jobs
job_tags = driver.find_elements(By.XPATH,'//a[@class="title ellipsis"]')
for i in job_tags[:10]:
    job= i.text
    job_titles.append(job)

# scrape company names of first 10 jobs
company_tags = driver.find_elements(By.XPATH,'//a[@class="subTitle ellipsis fleft"]')
for i in company_tags[:10]:
    company= i.text
    company_name.append(company)

# scrape job locations of first 10 jobs
location_tags = driver.find_elements(By.XPATH,'//span[@class="ellipsis fleft locWdth"]')
for i in location_tags[:10]:
    location = i.text
    job_location.append(location)

# scrape experience required for first 10 jobs
experience_tags = driver.find_elements(By.XPATH,'//span[@class="ellipsis fleft expwdth"]')
for i in experience_tags[:10]:
    experience= i.text
    experience_required.append(experience)

# create pandas dataframe from the scraped data
df = pd.DataFrame({'job-title':job_titles,
                   'job-location':job_location, 
                   'company_name':company_name, 
                   'experience_required':experience_required})



 # Set the DataFrame index to start from 1 instead of the default 0
df.index = range(1, len(df)+1)
# print the dataframe
df

,job-title,job-location,company_name,experience_required
1,Data Analyst - IIT/BITS/Startups,Bangalore/Bengaluru,AVE Promagne,1-5 Yrs
2,Data Analyst - FinTech,"Bangalore/Bengaluru, Mumbai, Hyderabad/Secunde...",Primo Hiring,1-2 Yrs
3,Data Analyst - FinTech,"Bangalore/Bengaluru, Kolkata, Mumbai, Hyderaba...",Primo Hiring,1-2 Yrs
4,Data Analyst - FinTech,"Bangalore/Bengaluru, Kolkata, Mumbai, Hyderaba...",Primo Hiring,1-2 Yrs
5,Data Analyst - IIT/BITS/Startups,Bangalore/Bengaluru,AVE Promagne,1-5 Yrs
6,Banking Data Analyst,"Bangalore/Bengaluru, Hyderabad/Secunderabad, G...",Coforge,5-10 Yrs
7,Data Analyst,Bangalore/Bengaluru,Dpdzero,1-3 Yrs
8,Data Analyst,Bangalore/Bengaluru,Juniper Networks,5-9 Yrs
9,Data Analyst,"Temp. WFH - Bangalore/Bengaluru, Noida, Pune, ...",Infogain,4-7 Yrs
10,Data Analyst,"Bangalore/Bengaluru, Kolkata, Mumbai, New Delh...",Portcast,2-6 Yrs

## Q2:Write a python program to scrape data for “Data Scientist” Job position in “Bangalore” location. You have to scrape the job-title, job-location, company_name. You have to scrape first 10 jobs data. This task will be done in following steps:
- 1. First get the webpage https://www.naukri.com/
- 2. Enter “Data Scientist” in “Skill, Designations, Companies” field and enter “Bangalore” in “enter the
- location” field.
- 3. Then click the searchbutton.
- 4. Then scrape the data for the first 10 jobs results youget.
- 5. Finally create a dataframe of the scraped data.

In [9]:
#lets first connect to the driver
driver = webdriver.Chrome(r"D:\CHROME DOWNLODE\chromedriver\chromedriver.exe")

In [10]:
# opening the naukri.com page on automated chrome browser
driver.get('https://www.naukri.com/')

In [11]:
# entering the designation as required in the question
designation = driver.find_element(By.CLASS_NAME,"suggestor-input ")
designation.send_keys("Data Scientist")

In [12]:
# entering the  location as required in the question
location = driver.find_element(By.XPATH,'/html/body/div[1]/div[7]/div/div/div[5]/div/div/div/div[1]/div/input')
location.send_keys("Bangalore")

In [13]:
# clicking on search button to search the required data 
search = driver.find_element(By.CLASS_NAME,'qsbSubmit')
search.click()

In [14]:
# create empty lists to store the scraped data
Data_job = []
Data_company = []
Data_location = []


# scrape job titles of first 10 jobs
job_tags = driver.find_elements(By.XPATH,'//a[@class="title ellipsis"]')
for i in job_tags[:10]:
    job= i.text
    Data_job.append(job)

# scrape company names of first 10 jobs
company_tags = driver.find_elements(By.XPATH,'//a[@class="subTitle ellipsis fleft"]')
for i in company_tags[:10]:
    company= i.text
    Data_company.append(company)

# scrape job locations of first 10 jobs
location_tags = driver.find_elements(By.XPATH,'//span[@class="ellipsis fleft locWdth"]')
for i in location_tags[:10]:
    location = i.text
    Data_location.append(location)



# create pandas dataframe from the scraped data
df = pd.DataFrame({'job-title':Data_job, 
                   'company_name':Data_company,
                   'job-location':Data_location})



 # Set the DataFrame index to start from 1 instead of the default 0
df.index = range(1, len(df)+1)
# print the dataframe
df

,job-title,company_name,job-location
1,Data Science Specialist,Accenture,"Bangalore/Bengaluru, Kolkata, Mumbai, Hyderaba..."
2,Data Scientist_NLP,Fractal Analytics,"Bangalore/Bengaluru, Mumbai, Pune, Chennai, Gu..."
3,Machine Learning (AI) Architect,Persistent,"Bangalore/Bengaluru, Kolkata, Mumbai, New Delh..."
4,Data Science Analyst - Data Science,Accenture,Bangalore/Bengaluru
5,Data Science Analyst Data Science,Accenture,Bangalore/Bengaluru
6,Analytics Specialist - Artificial Intelligence...,Accenture,Bangalore/Bengaluru
7,Senior Data Scientist,Walmart,Bangalore/Bengaluru
8,"Data Scientist, Engineering at Google",Blob Infotech,"Temp. WFH - Bangalore/Bengaluru, Hyderabad/Sec..."
9,Opportunity | Data Scientist | Tavant India,Tavant Technologies,"Bangalore/Bengaluru, Noida, Kolkata, Hyderabad..."
10,Sr. Data Scientist - Python / ML / DL,AVE Promagne,"Bangalore/Bengaluru, Noida, Mumbai, Chandigarh..."

## Q3: In this question you have to scrape data using the filters available on the webpage as shown below:

### You have to use the location and salary filter.
### You have to scrape data for “Data Scientist” designation for first 10 job results.
### You have to scrape the job-title, job-location, company name, experience required.
### The location filter to be used is “Delhi/NCR”. The salary filter to be used is “3-6” lakhs
### The task will be done as shown in the below steps:
- 1. first get thewebpage https://www.naukri.com/
- 2. Enter “Data Scientist” in “Skill, Designations, and Companies” field.
- 3. Then click the searchbutton.
- 4. Then apply the location filter and salary filter by checking the respective boxes
- 5. Then scrape the data for the first 10 jobs results youget.
- 6. Finally create a dataframe of the scraped data.

In [24]:
#lets first connect to the driver
driver = webdriver.Chrome(r"D:\CHROME DOWNLODE\chromedriver\chromedriver.exe")

In [25]:
# opening the naukri.com page on automated chrome browser
driver.get('https://www.naukri.com/')

In [26]:
# entering the designation as required in the question
designation = driver.find_element(By.CLASS_NAME,"suggestor-input ")
designation.send_keys("Data Scientist")

In [27]:
# filter the salary
search = driver.find_element(By.CLASS_NAME,'qsbSubmit')
search.click()

In [28]:
# filter the location 
locationss = driver.find_element(By.XPATH,'/html/body/div[1]/div[4]/div/div/section[1]/div[2]/div[5]/div[2]/div[2]/label/p/span[1]')
locationss.click()

In [29]:
# filter the salary
salary = driver.find_element(By.XPATH,'/html/body/div[1]/div[4]/div/div/section[1]/div[2]/div[6]/div[2]/div[2]/label/p/span[1]')
salary.click()

In [30]:
# create empty lists to store the scraped data
DataScience_job = []
DataScience_company_name = []
DataScience_job_location = []
DataScience_experience_required = []

# scrape job titles of first 10 jobs
job_tags = driver.find_elements(By.XPATH,'//a[@class="title ellipsis"]')
for i in job_tags[:10]:
    job= i.text
    DataScience_job.append(job)

# scrape company names of first 10 jobs
company_tags = driver.find_elements(By.XPATH,'//a[@class="subTitle ellipsis fleft"]')
for i in company_tags[:10]:
    company= i.text
    DataScience_company_name.append(company)

# scrape job locations of first 10 jobs
location_tags = driver.find_elements(By.XPATH,'//span[@class="ellipsis fleft locWdth"]')
for i in location_tags[:10]:
    location = i.text
    DataScience_job_location.append(location)

# scrape experience required for first 10 jobs
experience_tags = driver.find_elements(By.XPATH,'//span[@class="ellipsis fleft expwdth"]')
for i in experience_tags[:10]:
    experience= i.text
    DataScience_experience_required.append(experience)

# create pandas dataframe from the scraped data
df = pd.DataFrame({'Job-title':DataScience_job,
                   'Company_name':DataScience_company_name, 
                   'Job-location':DataScience_job_location,
                   'Experience_required':DataScience_experience_required})



 # Set the DataFrame index to start from 1 instead of the default 0
df.index = range(1, len(df)+1)
# print the dataframe
df

,Job-title,Company_name,Job-location,Experience_required
1,Junior Data Scientist,Analytos,"Kolkata, Mumbai, New Delhi, Hyderabad/Secunder...",0-2 Yrs
2,Data Scientist,Blackbuck,"Gurgaon/Gurugram, Bangalore/Bengaluru",3-7 Yrs
3,Data Scientist,Analytos,"Kolkata, Mumbai, New Delhi, Hyderabad/Secunder...",2-4 Yrs
4,Junior Data Scientist,Adidas,"Gurgaon/Gurugram, United States (USA), Bulgaria",1-6 Yrs
5,Data Scientist - II (Contract),Netomi,Gurgaon/Gurugram,3-7 Yrs
6,Data Scientist,Gujarat Fluorochemicals,Noida,1-2 Yrs
7,Research Scientist - Bioinformatics,Biopeople India,Gurgaon/Gurugram,0-2 Yrs
8,Data Scientist - I,Netomi,Gurgaon/Gurugram,3-6 Yrs
9,Machine Learning Engineer,Profit By Outsourcing,Noida,2-7 Yrs
10,Assistant Manager - Data Scientist,Fidelity International,Gurgaon/Gurugram,5-7 Yrs

## Q4: Scrape data of first 100 sunglasses listings on flipkart.com. You have to scrape four attributes:
- 1. Brand
- 2. ProductDescription
- 3. Price

### To scrape the data you have to go through following steps:
- 1. Go to Flipkart webpage by url :https://www.flipkart.com/
- 2. Enter “sunglasses” in the search field where “search for products, brands and more” is written and click the search icon
- 3. After that you will reach to the page having a lot of sunglasses. From this page you can scrap therequired data asusual.
- 4. After scraping data from the first page, go to the “Next” Button at the bottom other page , then click on it.
- 5. Now scrape data from this page asusual
- 6. Repeat this until you get data for 100sunglasses.

In [31]:
#lets first connect to the driver
driver = webdriver.Chrome(r"D:\CHROME DOWNLODE\chromedriver\chromedriver.exe")

In [33]:
# opening the https://www.flipkart.com/ page on automated chrome browser
driver.get('https://www.flipkart.com/')

In [34]:
# entering the designation as required in the question
Glasses = driver.find_element(By.CLASS_NAME,"_3704LK ")
Glasses.send_keys("sunglasses")

In [35]:
# clicking on search button to search the required data 
search = driver.find_element(By.CLASS_NAME,'L0Z3Pu')
search.click()

In [36]:
# Create empty lists to store the required data
Brand=[]
productdescription=[]
price=[]

# Define the start and end page numbers
start = 0
end = 3

# Loop through the pages
for page in range(start, end):
    # Find all the elements for Brand tag and append their text to the Brand list
    Brand_tag = driver.find_elements(By.XPATH,'//div[@class="_2WkVRV"]')
    for i in Brand_tag:
        Brand.append(i.text)
    
    # Find all the elements for Product tag and append their text to the productdescription list
    product_tag = driver.find_elements(By.XPATH,'//a[@class="IRpwTa"]')
    for i in product_tag:
        productdescription.append(i.text)
    
    # Find all the elements for Price tag and append their text to the price list
    price_tag = driver.find_elements(By.XPATH,'//div[@class="_30jeq3"]')
    for i in price_tag:
        price.append(i.text)
    
    # Find the next button and click on it
    nextbutton = driver.find_element(By.CLASS_NAME,'_1LKTO3')
    nextbutton.click()
    # Wait for 3 seconds for the next page to load
    time.sleep(3)
    
# Get only the first 100 items from each of the lists
brand = Brand[:100]
product = productdescription[:100]
price = price[:100]

# Create a pandas dataframe using the data obtained and store it in a variable named df_sneak
df = pd.DataFrame({"Brand":brand,
                  "ProductDescription":product,
                  "Price":price})
 # Set the DataFrame index to start from 1 instead of the default 0
df.index = range(1, len(df)+1)
df

                Brand                                 ProductDescription Price
1       VINCENT CHASE  by Lenskart Polarized, UV Protection Retro Squ...  ₹849
2       VINCENT CHASE     Polarized, UV Protection Round Sunglasses (51)  ₹965
3           Elligator             UV Protection Wayfarer Sunglasses (53)  ₹149
4           Elligator  UV Protection Cat-eye, Retro Square, Oval, Rou...  ₹149
5              PIRASO           UV Protection Clubmaster Sunglasses (54)  ₹224
..                ...                                                ...   ...
96             ARICKS  by Lenskart Polarized, UV Protection Cat-eye S...  ₹233
97           Fastrack      UV Protection Wayfarer Sunglasses (Free Size)  ₹539
98          Elligator             UV Protection Wayfarer Sunglasses (56)  ₹249
99   Shaah Collection    UV Protection Aviator, Wayfarer Sunglasses (55)  ₹185
100     VINCENT CHASE  by Lenskart Polarized, UV Protection Aviator S...  ₹873

[100 rows x 3 columns]

## Q5: Scrape 100 reviews data from flipkart.com for iphone11 phone. You have to go the link:https://www.flipkart.com/apple-iphone-11-black-64-gb/productreviews/itm4e5041ba101fdpid=MOBFWQ6BXGJCEYNY&lid=LSTMOBFWQ6BXGJCEYNYZXSHRJ&marketplace=FLIPKART

## As shown in the above page you have to scrape the tick marked attributes. These are:
- 1. Rating
- 2. Review summary
- 3. Full review
- 4. You have to scrape this data for first 100reviews.

In [37]:
#lets first connect to the driver
driver = webdriver.Chrome(r"D:\CHROME DOWNLODE\chromedriver\chromedriver.exe")

In [39]:
# opening the "https://www.flipkart.com/apple-iphone-11-black-64-gb/productreviews/itm4e5041ba101fdpid=MOBFWQ6BXGJCEYNY&lid=LSTMOBFWQ6BXGJCEYNYZXSHRJ&marketplace=FLIPKART" page on automated chrome browser
driver.get('https://www.flipkart.com/apple-iphone-11-black-64-gb/product-reviews/itm4e5041ba101fd?pid=MOBFWQ6BXGJCEYNY&lid=LSTMOBFWQ6BXGJCEYNYZXSHRJ&marketplace=FLIPKART')

In [40]:
# Create empty lists to store the required data
rating=[]
review=[]
full_review=[]

# Define the start and end page numbers
start = 0
end = 10

# Loop through the pages
for page in range(start, end):
    # Find all the elements for rating tag and append their text to the rating list
    rating_tag = driver.find_elements(By.XPATH,'//div[@class="_3LWZlK _1BLPMq"]')
    for i in rating_tag:
        rating.append(i.text)
    
    # Find all the elements for review tag and append their text to the review list
    review_tag = driver.find_elements(By.XPATH,'//p[@class="_2-N8zT"]')
    for i in review_tag:
        review.append(i.text)
    
    # Find all the elements for full review tag and append their text to the full review list
    full_review_tag = driver.find_elements(By.XPATH,'//div[@class="t-ZTKy"]')
    for i in full_review_tag:
        full_review.append(i.text)
    
    # Find the next button and click on it
    nextbutton = driver.find_element(By.CLASS_NAME,'_1LKTO3')
    nextbutton.click()
    # Wait for 3 seconds for the next page to load
    time.sleep(3)
    
# Get only the first 100 items from each of the lists
rating = rating[:100]
review = review[:100]
full_review = full_review[:100]

# Create a pandas dataframe using the data obtained and store it in a variable named df
df = pd.DataFrame({"Rating":rating,
                  "Review":review,
                  "Full Review":full_review})
 # Set the DataFrame index to start from 1 instead of the default 0
df.index = range(1, len(df)+1)
df

,Rating,Review,Full Review
1,5,Simply awesome,Really satisfied with the Product I received.....
2,5,Perfect product!,Amazing phone with great cameras and better ba...
3,5,Best in the market!,Great iPhone very snappy experience as apple k...
4,4,Value-for-money,I'm Really happy with the product\nDelivery wa...
5,5,Highly recommended,It's my first time to use iOS phone and I am l...
...,...,...,...
96,5,Perfect product!,Value for money❤️❤️\nIts awesome mobile phone ...
97,5,Highly recommended,iphone 11 is a very good phone to buy only if ...
98,5,Highly recommended,"Amazing camera quality as expected, battery al..."
99,5,Perfect product!,It is just awesome mobile for this price from ...
100,4,Value-for-money,Just got this iphone 11\nAnd it is most powerf...

## Q6: Scrape data for first 100 sneakers you find when you visit flipkart.com and search for “sneakers” in the search field. You have to scrape 3 attributes of each sneaker:
- 1. Brand
- 2. ProductDescription
- 3. Price

In [41]:
#lets first connect to the driver
driver = webdriver.Chrome(r"D:\CHROME DOWNLODE\chromedriver\chromedriver.exe")

In [42]:
# opening the flipkart.com page on automated chrome browser
driver.get('https://www.flipkart.com/')

In [43]:
# entering the designation as required in the question
sneakers = driver.find_element(By.CLASS_NAME,"_3704LK")
sneakers.send_keys("sneakers")

In [44]:
# clicking on search button to search the required data 
search = driver.find_element(By.CLASS_NAME,'L0Z3Pu')
search.click()

In [45]:
# create empty list to store the data
brand =[]
product_description=[]
price

# Set the start and end pages to scrape
start = 0
end = 3
# Loop through the pages and scrape data
for page in range(start, end):
    
    # Find all the brand elements on the current page and append them to the brand list
    brand_tag = driver.find_elements(By.XPATH,'//div[@class="_2WkVRV"]')
    for i in brand_tag:
        brand.append(i.text)
        
        
    # Find all the product description elements on the current page and append them to the product description list
    product_tag = driver.find_elements(By.XPATH, '//a[@class="IRpwTa"]')
    for i in product_tag:
        product_description.append(i.text)
        
    # Find all the price elements on the current page and append them to the price list
    price_tag = driver.find_elements(By.XPATH, '//a[@class="IRpwTa"]')
    for i in price_tag:
        price.append(i.text)
        
        
     # Click on the next button to move to the next page
    nexts = driver.find_element(By.CLASS_NAME, '_1LKTO3')
    nexts.click()
    
    # Use a time.sleep() to wait for the next page to load
    time.sleep(3)
    
# Truncate the lists to 100 elements if necessary    
Brand = brand[:100]
Product_description =product_description[:100]
Price = price[:100]


# Create a pandas dataframe from the scraped data and display it
df= pd.DataFrame({'Brand': Brand,
                         'Product Description': Product_description,
                         'Price': Price})
df.index = range(1, len(df)+1)
df

        Brand                                Product Description Price
1       asian  asian Pride White Sneakers,Casuals,Walking,Loa...  ₹849
2    RapidBox                                   Sneakers For Men  ₹965
3        aadi  Synthetic| Lightweight| Premiun| Comfort| Summ...  ₹149
4      RINDAS                                 Sneakers For Women  ₹149
5       BIRDE      Combo Pack Of 2 Casual Shoes Sneakers For Men  ₹224
..        ...                                                ...   ...
96     Labbin      Combo Pack Of 2 Casual Shoes Sneakers For Men  ₹233
97     BRUTON  Trendy Casual Shoe For Men Pack Of 2 Sneakers ...  ₹539
98    MOZAFIA                                   Sneakers For Men  ₹249
99      BIRDE                                   Sneakers For Men  ₹185
100    Layasa          Thunder-01 White Canvas, Sneakers For Men  ₹873

[100 rows x 3 columns]

## Q7: Go to webpage https://www.amazon.in/ Enter “Laptop” in the search field and then click the search icon. Then set CPU Type filter to “Intel Core i7” as shown in the below image:

### After setting the filters scrape first 10 laptops data. You have to scrape 3 attributes for each laptop:
- 1. Title
- 2. Ratings
- 3. Price

In [46]:
#lets first connect to the driver
driver = webdriver.Chrome(r"D:\CHROME DOWNLODE\chromedriver\chromedriver.exe")

In [47]:
# opening the https://www.amazon.in/ page on automated chrome browser
driver.get('https://www.amazon.in/ ')

In [48]:
# entering the designation as required in the question
laptop = driver.find_element(By.XPATH,"/html/body/div[1]/header/div/div[1]/div[2]/div/form/div[2]/div[1]/input")
laptop.send_keys("Laptop")

In [49]:
# clicking on search button to search the required data 
search = driver.find_element(By.XPATH,'/html/body/div[1]/header/div/div[1]/div[2]/div/form/div[3]/div/span/input')
search.click()

In [51]:
# filter the cpu
cpu = driver.find_element(By.XPATH,'/html/body/div[1]/div[2]/div[1]/div[2]/div/div[3]/span/div[1]/div/div/div[5]/ul[6]/span[9]/li/span/a/span')
cpu.click()

In [52]:
# create empty lists to store the scraped data
title = []
rating = []
price = []


# scrape job titles of first 10 laptop
title_tags = driver.find_elements(By.XPATH,'//h2[@class="a-size-mini a-spacing-none a-color-base s-line-clamp-2"]')
for i in title_tags[:10]:
    T= i.text
    title.append(T)

# scrape rating of first 10 laptop
rating_tags = driver.find_elements(By.XPATH,'//div[@class="a-row a-size-small"]')
for i in rating_tags[:10]:
    R= i.text
    rating.append(R)

# scrape price of first 10 laptop
price_tags = driver.find_elements(By.XPATH,'//span[@class="a-price-whole"]')
for i in price_tags[:10]:
    P = i.text
    price.append(P)



# create pandas dataframe from the scraped data
df = pd.DataFrame({'Title':title, 
                   'Rating':rating,
                   'Price':price})



 # Set the DataFrame index to start from 1 instead of the default 0
df.index = range(1, len(df)+1)
# print the dataframe
df

                                                Title Rating     Price
1   HP Victus Gaming Latest 12th Gen Intel Core i7...    298    79,990
2   ASUS TUF Gaming F15 (2022), 15.6"(39.62 cms) F...     72    94,989
3   Samsung Galaxy Book2 (NP750) Intel 12th Gen co...    107    69,990
4   HP Pavilion Plus, 12th Gen Intel Core i7 16GB ...    131    88,990
5   ASUS Vivobook S15 OLED 2022, 15.6" 39.62 cms F...     13    79,990
6   ASUS Zenbook Pro 14 Duo OLED (2022) Dual Scree...      3  1,24,990
7   (Renewed) Dell Latitude E7470 Intel Core i7 6t...     69    25,067
8   ASUS TUF Dash F15 (2022), 15.6-inch (39.62 cms...     22  1,29,989
9   Lenovo Legion 5 Pro Intel Core i7-12700H 16" (...      2  2,18,108
10  HP Pavilion 14 12th Gen Intel Core i7 16GB SDR...     55    84,999

## Q8: Write a python program to scrape data for Top 1000 Quotes of All Time.
### The above task will be done in following steps:
- 1. First get the webpagehttps://www.azquotes.com/
- 2. Click on TopQuotes
- 3. Than scrap a) Quote b) Author c) Type Of Quotes

In [53]:
#lets first connect to the driver
driver = webdriver.Chrome(r"D:\CHROME DOWNLODE\chromedriver\chromedriver.exe")

In [54]:
# opening the https://www.azquotes.com/ page on automated chrome browser
driver.get('https://www.azquotes.com/')

In [55]:
# clicking on top Quotes to search the required data 
quotes = driver.find_element(By.XPATH,'/html/body/div[1]/div[1]/div[1]/div/div[3]/ul/li[5]')
quotes.click()

In [56]:
# create empty list to store the data
Quote =[]
Author =[]
Type_of_quotes=[]
# Set the start and end pages to scrape
start = 0
end = 10
# Loop through the pages and scrape data
for page in range(start, end):
    #scrap quote tag and appent it in Quote list
    quote_tag = driver.find_elements(By.XPATH,'//a[@class="title"]')
    for i in quote_tag:
        Quote.append(i.text)
     #Scrap author tag and append in Author list   
    author_tag = driver.find_elements(By.XPATH,'//div[@class="author"]')
    for i in author_tag:
        Author.append(i.text)
    #scrap type of Quote tag and append in type of quotess list
    type_of_quotes_tag = driver.find_elements(By.XPATH,'//div[@class="tags"]')
    for i in type_of_quotes_tag:
        Type_of_quotes.append(i.text)
    
    # Click on the next button to move to the next page
    nexts = driver.find_element(By.XPATH, '/html/body/div[1]/div[2]/div/div/div/div[1]/div/div[4]/li[12]')
    nexts.click()
    
    # Use a time.sleep() to wait for the next page to load
    time.sleep(3)
df = pd.DataFrame({'Quotes':Quote,'Author':Author,'Type Of Quotes':Type_of_quotes})
#Set the DataFrame index to start from 1 instead of the default 0
df.index = range(1, len(df)+1)
#print Dataframe
df

,Quotes,Author,Type Of Quotes
1,The essence of strategy is choosing what not t...,Michael Porter,"Essence, Deep Thought, Transcendentalism"
2,One cannot and must not try to erase the past ...,Golda Meir,"Inspiration, Past, Trying"
3,Patriotism means to stand by the country. It d...,Theodore Roosevelt,"Country, Peace, War"
4,Death is something inevitable. When a man has ...,Nelson Mandela,"Inspirational, Motivational, Death"
5,You have to love a nation that celebrates its ...,Erma Bombeck,"4th Of July, Food, Patriotic"
...,...,...,...
996,Regret for the things we did can be tempered b...,Sydney J. Harris,"Love, Inspirational, Motivational"
997,America... just a nation of two hundred millio...,Hunter S. Thompson,"Gun, Two, Qualms About"
998,For every disciplined effort there is a multip...,Jim Rohn,"Inspirational, Greatness, Best Effort"
999,"The spiritual journey is individual, highly pe...",Ram Dass,"Spiritual, Truth, Yoga"
1000,The mind is not a vessel to be filled but a fi...,Plutarch,"Inspirational, Leadership, Education"

## Q9: Write a python program to display list of respected former Prime Ministers of India(i.e. Name, Born-Dead, Term of office, Remarks) from https://www.jagranjosh.com/. This task will be done in following steps:
- 1. First get the webpagehttps://www.jagranjosh.com/
- 2. Then You have to click on the GK option
- 3. Then click on the List of all Prime Ministers of India
- 4. Then scrap the mentioned data and make theDataFrame.

In [57]:
#lets first connect to the driver
driver = webdriver.Chrome(r"D:\CHROME DOWNLODE\chromedriver\chromedriver.exe")

In [58]:
# opening the https://www.jagranjosh.com/ page on automated chrome browser
driver.get('https://www.jagranjosh.com/')

In [59]:
# clicking on search button to search the required data 
gk = driver.find_element(By.XPATH,'/html/body/div/div[1]/div/div[1]/div/div[5]/div/div[1]/header/div[3]/ul/li[3]/a')
gk.click()

In [61]:
# clicking on search button to search the required data 
pm = driver.find_element(By.XPATH,'/html/body/div[1]/div/div/div[2]/div/div[10]/div/div/ul/li[2]/a')
pm.click()

In [62]:
# Create empty lists to store the data
Name=[]
Born_Dead=[]
Term_of_office=[]
Remarks=[]

# Find all td elements on the page and append their text to the Name list
name_tag = driver.find_elements(By.TAG_NAME,'td')
for i in name_tag:
    Name.append(i.text)

# Find all td elements on the page and append their text to the Born_Dead list
brand_tag = driver.find_elements(By.TAG_NAME,'td')
for i in brand_tag:
    Born_Dead.append(i.text)

# Find all td elements on the page and append their text to the Term_of_office list
term_tag = driver.find_elements(By.TAG_NAME,'td')
for i in term_tag:
    Term_of_office.append(i.text)

# Find all td elements on the page and append their text to the Remarks list
Remarks_tag = driver.find_elements(By.TAG_NAME,'td')
for i in Remarks_tag:
    Remarks.append(i.text)

# Slice the Name list to extract every 5th element starting from the second element
# This extracts the values for the "Name" column of the table
Name = Name[1:90:5]

# Slice the Born_Dead list to extract every 5th element starting from the third element
# This extracts the values for the "Born Dead" column of the table
Born_Dead = Born_Dead[2:90:5]

# Slice the Term_of_office list to extract every 5th element starting from the fourth element
# This extracts the values for the "Term Of Office" column of the table
Term_of_office = Term_of_office[3:90:5]

# Slice the Remarks list to extract every 5th element starting from the fifth element
# This extracts the values for the "Remarks" column of the table
Remarks = Remarks[4:90:5]

# Create a pandas DataFrame using a dictionary of the lists
df = pd.DataFrame({'Name':Name,'Born Dead':Born_Dead,'Term Of Office':Term_of_office,'Remarks':Remarks})
#Set the DataFrame index to start from 1 instead of the default 0
df.index = range(1, len(df)+1)
# Print the DataFrame to the console
df

,Name,Born Dead,Term Of Office,Remarks
1,Jawahar Lal Nehru,(1889–1964),"15 August 1947 to 27 May 1964\n16 years, 286 days",The first prime minister of India and the long...
2,Gulzarilal Nanda (Acting),(1898-1998),"27 May 1964 to 9 June 1964,\n13 days",First acting PM of India
3,Lal Bahadur Shastri,(1904–1966),"9 June 1964 to 11 January 1966\n1 year, 216 days",He has given the slogan of 'Jai Jawan Jai Kisa...
4,Gulzari Lal Nanda (Acting),(1898-1998),11 January 1966 to 24 January 1966\n13 days,-
5,Indira Gandhi,(1917–1984),"24 January 1966 to 24 March 1977\n11 years, 59...",First female Prime Minister of India
6,Morarji Desai,(1896–1995),"24 March 1977 to 28 July 1979 \n2 year, 126 days",Oldest to become PM (81 years old) and first t...
7,Charan Singh,(1902–1987),28 July 1979 to 14 January 1980\n170 days,Only PM who did not face the Parliament
8,Indira Gandhi,(1917–1984),"14 January 1980 to 31 October 1984\n4 years, 2...",The first lady who served as PM for the second...
9,Rajiv Gandhi,(1944–1991),"31 October 1984 to 2 December 1989\n5 years, 3...",Youngest to become PM (40 years old)
10,V. P. Singh,(1931–2008),2 December 1989 to 10 November 1990\n343 days,First PM to step down after a vote of no confi...
11,Chandra Shekhar,(1927–2007),10 November 1990 to 21 June 1991\n223 days,He belongs to Samajwadi Janata Party
12,P. V. Narasimha Rao,(1921–2004),"21 June 1991 to 16 May 1996\n4 years, 330 days",First PM from south India
13,Atal Bihari Vajpayee,(1924- 2018),16 May 1996 to 1 June 1996\n16 days,PM for shortest tenure
14,H. D. Deve Gowda,(born 1933),1 June 1996 to 21 April 1997\n324 days,He belongs to Janata Dal
15,Inder Kumar Gujral,(1919–2012),21 April 1997 to 19 March 1998 \n332 days,------
16,Atal Bihari Vajpayee,(1924-2018),"19 March 1998 to 22 May 2004 \n6 years, 64 days",The first non-congress PM who completed a ful...
17,Manmohan Singh,(born 1932),"22 May 2004 to 26 May 2014 \n10 years, 4 days",First Sikh PM
18,Narendra Modi,(born 1950),26 May 2014 - Present,4th Prime Minister of India who served two con...

## Q10: Write a python program to display list of 50 Most expensive cars in the world (i.e. Car name and Price) from https://www.motor1.com/ This task will be done in following steps:
- 1. First get the webpagehttps://www.motor1.com/
- 2. Then You have to click on the List option from Dropdown menu on leftside.
- 3. Then click on 50 most expensive carsin the world..
- 4. Then scrap the mentioned data and make the dataframe.

In [63]:
#lets first connect to the driver
driver = webdriver.Chrome(r"D:\CHROME DOWNLODE\chromedriver\chromedriver.exe")

In [64]:
# opening the https://www.motor1.com/ on automated chrome browser
driver.get('https://www.motor1.com/')

In [65]:
# enter the text in the search box
data = driver.find_element(By.XPATH,'/html/body/div[3]/div[2]/div/div/div[3]/div/div/div/form/input')
data.send_keys('50 Most expensive cars in the world')

In [67]:
# click on the search button
searchs= driver.find_element(By.XPATH,'/html/body/div[3]/div[2]/div/div/div[3]/div/div/div/form/button[1]')
searchs.click()

In [68]:
# click on the 50 most expensive cars section
cars = driver.find_element(By.XPATH,'/html/body/div[3]/div[9]/div/div[1]/div/div/div[1]/div/div[1]/h3/a')
cars.click()

In [69]:
# Create empty lists to store the scraped data
cars_name = []
cars_price = []

# Find all the car tags using XPath and append the text of each tag to the `cars_name` list
cars_tags = driver.find_elements(By.XPATH,'//h3[@class="subheader"]')
for i in cars_tags:
    cars_name.append(i.text)

# Find all the price tags using the `TAG_NAME` locator for `strong` tags and append the text of each tag to the `cars_price` list
price_tags = driver.find_elements(By.TAG_NAME,'strong')
for i in price_tags:
    cars_price.append(i.text)

# Create a pandas dataframe from the scraped data and display it
df_cars = pd.DataFrame({'Car Name':cars_name,'Price':cars_price})

# dropping the rows having NaN values
df = df_cars.drop(3)
 
# To reset the indices
df = df.reset_index(drop=True)
 #Set the DataFrame index to start from 1 instead of the default 0
df.index = range(1, len(df)+1)
# Print the dataframe
df

                            Car Name                        Price
1                      De Tomaso P72          Price: $1.3 Million
2                  Ferrari LaFerrari          Price: $1.4 Million
3                      Pagani Huayra          Price: $1.4 Million
4                        Czinger 21C          Price: $1.7 Million
5                      Ferrari Monza          Price: $1.7 Million
6                 Gordon Murray T.33          Price: $1.7 Million
7                  Koenigsegg Gemera          Price: $1.7 Million
8                        Zenvo TSR-S          Price: $1.7 Million
9                 Hennessey Venom F5          Price: $1.7 Million
10                   Bentley Bacalar          Price: $1.8 Million
11     Hispano Suiza Carmen Boulogne          Price: $1.9 Million
12            Bentley Mulliner Batur          Price: $1.9 Million
13                      Deus Vayanne          Price: $2.0 Million
14                       SSC Tuatara          Price: $2.0 Million
15                       Lotus Evija         Price: $2.0 Million*
16               Aston Martin Vulcan          Price: $2.1 Million
17                        Delage D12          Price: $2.3 Million
18                 McLaren Speedtail          Price: $2.3 Million
19                      Rimac Nevera          Price: $2.3 Million
20                     Pagani Utopia          Price: $2.4 Million
21              Pininfarina Battista          Price: $2.5 Million
22                 Ferrari FXX K Evo          Price: $2.5 Million
23                Gordon Murray T.50          Price: $2.6 Million
24              Lamborghini Countach          Price: $2.6 Million
25          Mercedes-AMG Project One          Price: $2.6 Million
26               Aston Martin Victor          Price: $2.7 Million
27       Hennessey Venom F5 Roadster          Price: $3.0 Million
28                  Koenigsegg Jesko                 $3.0 Million
29             Aston Martin Valkyrie          Price: $3.0 Million
30         W Motors Lykan Hypersport          Price: $3.2 Million
31                     McLaren Solus          Price: $3.4 Million
32         Pagani Huayra Roadster BC                 $3.5 Million
33          Bugatti Chiron Pur Sport          Price: $3.5 Million
34                  Lamborghini Sian          Price: $3.6 Million
35                  Koenigsegg CC850          Price: $3.6 million
36   Bugatti Chiron Super Sport 300+          Price: $3.7 Million
37                Lamborghini Veneno          Price: $3.9 Million
38                    Bugatti Bolide          Price: $4.5 Million
39                   Bugatti Mistral          Price: $4.7 Million
40               Pagani Huayra Imola          Price: $5.0 Million
41                      Bugatti Divo          Price: $5.4 Million
42               SP Automotive Chaos          Price: $5.8 Million
43                  Pagani Codalunga          Price: $6.4 Million
44          Mercedes-Maybach Exelero          Price: $7.4 Million
45                Bugatti Centodieci          Price: $8.0 Million
46           Bugatti Chiron Profilée          Price: $9.0 Million
47              Rolls-Royce Sweptail         Price: $10.8 Million
48          Bugatti La Voiture Noire         Price: $12.8 Million
49            Rolls-Royce Boat Tail*         Price: $13.4 Million
50  Most Expensive Cars In The World  Price: $28.0 Million (est.)